

<h1><a href = '\'>Adnat</a></h1>
<h2>Login</h2>
<%= form_tag '/signin' do %>
<div><h3>Email</h3><%= text_field_tag :email, nil, class: 'form-control',placeholder: "E-mail", :required => 'required'%>
</div>
<div><h3>Password</h3><%= password_field_tag :password, nil, class: 'form-control',placeholder: "Password", :required => 'required'%></div>
<%= submit_tag 'Login'%>

<%end%>
</form>
<h3><a href = 'users/new'>Sign Up</a></h1>
<h3><a href = 'forgot'>Forgot your password?</a></h1>
